// 创建变量
$big_font: 20px;
$samll_font: 12px;
$font_color: #191919;
// 使用变量
iframe{border: 0;}
#head iframe{height: 130px;}
.reg_body{
	height: 440px;
	ul{background-color: #fff !important;}
	.hr1{margin-bottom: 20px;}
	.body_account_header{
		width: 350px;height: 55px;
		margin-top: 20px;
		background-color: #f8f9fa;
		margin-bottom: 0;
		li + li::before{
			content: "|";
			opacity: .3;
			padding-left: 40px;
			padding-right: 40px;
		}
		a{
			font-size: $big_font;
			color: $font_color;
			&:visited{
				color: #e4393c;
				font-weight: bolder;
			}
			&:hover{
				color: #e4393c;
				font-weight: bold;
			}
		}
	}
	// .hr1{size: 5px;}
	.body_play{
		height: 200px;
		.body_account_input{
			width: 260px;
			margin: 0 auto;
			.input_t,.input_b{
				box-shadow: 0 0 0 0 #000000;
				font-size: 14px;
				padding-left: 16px;
				width: 260px;
				margin: 0 auto;
			}
			.input_t{
				margin-top: 25px;
				margin-bottom: 15px;
			}
		}
		.btn{
			width: 265px;
			height: 36px;
			box-shadow: 0 0 0 0 #000000;
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 14px;
			font-weight: bold;
			background-color: #CA141D;
			border: 0;
		}
		#code_reg{
			display: none;
			padding-top: 30px;
			position: relative;
			// .ewm{
			// 	&:hover{
			// 		transform: translate(-65px);
			// 	}
			// 	transition: transform .6s;
			// }
			.phone{
				position: absolute;
				right: 5px;
				top: 10px;
				z-index: -1;
				opacity: 0;
			}
			.ewm{
				transition: transform .5s;
			}
			&:hover{
				.ewm{
					transform: translate(-70px);
				}
				.phone{
					opacity: 1;
					transition: opacity 1s .2s ease-in-out;
				}
			}
			
		}
	}
	.body_account_tip{
		background-color: #f8f9fa;
		li+li::before{
			content: "|";
			padding-bottom: 5px;
		}
		li a{font-size: .8rem;}
	}
}

