/* 首页轮播图在页面水平居中 */
.page_carousel{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/* 重写轮播指示器的样式 */
.carousel-indicators{
	bottom: 30px;
}
.carousel-indicators li{
	width: 40px;
	height: 4px;
	border-radius: 5px;
	background-color: rgba(58, 58, 58, 0.2);
	cursor: pointer;
}
/* 第1个轮播指示器的背景颜色 */
.carousel-indicators .active{
	background-color: #ca151d;
}

/* 重写左右切换箭头的样式 */
.carousel-control-prev-icon,
.carousel-control-next-icon{
	width: 70px;
	height: 70px;
	top: 40%;
	background-color: transparent;
}

/* 更改左切换箭头的图标样式 */
.carousel-control-prev>span{
	background-image: url(../images/icons/arrow-left-circle-fill.svg);
}
a.carousel-control-prev{
	width: 60px;
	left: 20px;
}
/* 更改右切换箭头的图标样式 */
.carousel-control-next>span{
	background-image: url(../images/icons/arrow-right-circle-fill.svg);
}
a.carousel-control-next{
	width: 60px;
	right: 20px;
}
/* 设置轮播图媒体查询 */
@media (min-width:576px) {
	.carousel-item>img{
		width: 25%;
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		width: 25%;
	}
	.carousel-indicators li.slide_icon{
		width: 25px;
		height: 1px;
	}
}
@media (min-width:768px) {
	.carousel-item>img{
		width: 50%;
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		width: 50%;
	}
	.carousel-indicators li.slide_icon{
		width: 30px;
		height: 2px;
	}
}
@media (min-width:992px) {
	.carousel-item>img{
		width: 75%;
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		width: 75%;
	}
	.carousel-indicators li.slide_icon{
		width: 35x;
		height: 3px;
	}
}
@media (min-width:1200px) {
	.carousel-item>img{
		width: 100%;
	}
	.carousel-control-prev-icon,.carousel-control-next-icon{
		width: 100%;
	}
	.carousel-indicators li.slide_icon{
		width: 40px;
		height: 4px;
	}
}