/* 导航栏菜单容器的背景样式 */
.container-fluid{
	background-color: #ca151d;
}
/* 设置最左侧导航栏的菜单项文本样式 */
.navbar-brand{
	font-size: 20px;
	color: rgb(242,196,198,0.7)!important;
}
/* 设置其它菜单项文本样式 */
a.nav-link{
	font-size: 18px;
}
/* 各个菜单项鼠标悬停时，文本颜色为不透明白色 */
.navbar-brand:hover{
	color: rgba(255,255,255,1)!important;
}
a.nav-link:hover{
	color: rgba(255,255,255,1)!important;
}

/* 楼层顶部样式 */
.floor_top,.floor_top_xm,.floor_top_dd,.floor_top_fb{
	height: 120px;
	margin-top: 30px;
	background-color: rgb(233,236,239);
}
.floor_top_xm{
	background-color: rgba(255,103,0,0.3);
}
.floor_top_dd{
	background-color: rgba(182,201,208,0.3);
}
.floor_top_fb{
	background-color: rgba(0,176,185,0.3);
}
.floor_top_dd>img{
	width: 180px;
	height: 147px;
}

.floor_top_xm>img{
	width: 200px;
	height: 158px;
}
.floor_top_fb>img{
	width: 180px;
	height: 130px;
}
.floor_top>img{
	width: 100px;
}
/* 设置楼层顶部的文本样式 */
.floor_top .details,.floor_top_xm .details,.floor_top_dd .details,.floor_top_fb .details{
	text-align: center;
	height: 120px;
	padding-top: 22px;
}
.floor_top .details>p,.floor_top_xm .details>p,.floor_top_dd .details>p,.floor_top_fb .details>p{
	font-size: 36px;
	font-weight: bold;
	color: #666;
}
/* 设置li的样式 */
.breadcrumb-item+.breadcrumb-item::before{
	content: "|";
}
.breadcrumb-item{
	color: #666;
	text-align: center;
}

/* 设置楼层顶部内容尺寸样式 */
.pro_img{
	width: 284.7px;
	height: 828px;
}

/* 设置楼层主体内容尺寸样式 */
.pro_intr1,.pro_intr2{
	width: 284.7px;
}
.intr_details{
	height: 410px;
	background-color: #fff;
}
/* 楼层主体内容的文本样式 */
.pro_title{
	font-size: 22px;
	color: #000;
	margin-bottom: 5px!important;
}
.pro_details{
	font-size: 10px;
	margin-bottom: 10px!important;
}
.price{
	border-radius: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #ca151d;
}

.price2{
	font-size: 14px;
	color: #666;
	font-weight: normal;
	text-decoration: line-through;
}
/* 楼层2小米专区主体内容样式设置 */
.pro_sale .price{
	width: 120px;
	height: 36px;
	line-height: 36px;
	background-color: #000;
	border-radius: 20px;
	font-size: 18px;
	margin-left: 78px!important;
	font-weight: bold;
	color: #fff;
}